fastqueue = 'common,dedicated'
fastqos= '--qos=fast'

normalqueue = 'cnrvir'
normalqos = '-A cnrvir'

longqueue = 'cnrvir'
longqos = '-A cnrvir'

bigmemqueue = 'common'
//cleanup = true

executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
        enabled = true
        autoMounts = true
        runOptions = '--home $HOME:/home/$USER --bind /pasteur'
        cacheDir = 'singularity'
}


process {
    executor='slurm'
    queue = "$fastqueue"
    clusterOptions = "$fastqos"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withLabel: 'local' {
        executor = 'local'
    }
    
    withLabel: 'getref' {
    	cache=true
        executor='local'
	container="docker://nextstrain/nextclade:2.14.0"
    }

    withLabel: 'align' {
    	cache=true
	container="docker://nextstrain/nextalign:2.14.0"
	cpus=10
    }

    withLabel: 'gotree' {
    	cache: true
	cpus=5
	container="docker://evolbioinfo/gotree:v0.4.4"
    }

    withLabel: 'filter' {
    	cache: true
	container="docker://evolbioinfo/python-evol:v3.8.2b"
	cpus=30
        queue = "$normalqueue"
        clusterOptions = "$normalqos"
    }

    withLabel: 'extract' {
    	cache: true
	container="docker://evolbioinfo/python-evol:v3.8.2b"
	cpus=1
    }

    withLabel: 'phylogeny' {
        container='evolbioinfo/iqtree:v2.2.0'
	memory='20G'
	cpus=5
        queue = "$normalqueue"
        clusterOptions = "$normalqos"
    }

    withLabel: 'gofasta' {
        memory='50G'
	cpus=40
        queue = "$normalqueue"
        clusterOptions = "$normalqos"
	container="docker://evolbioinfo/gofasta:v1.2.1"
    }

    withLabel: 'goalignbigmem' {
        cpus=1
        memory='100G'
        container="docker://evolbioinfo/goalign:v0.3.6"
    }

    withLabel: 'goalignbigmemcpus' {
        cpus=10
        memory='100G'
        container="docker://evolbioinfo/goalign:v0.3.6"
    }

    withLabel: pangolin {
	container='evolbioinfo/pangolin:v4.3.1-v1.22-v0.3.19-v0.1.12'
	cpus=4
        memory='10G'
        queue = "$normalqueue"
        clusterOptions = "$normalqos"
    }
}
